.calendar
	div(ng-include='\'partials/techniciansList\'')
	button.btn.btn-info(ng-click='openNewAppointment("lg")') הוסף פגישה
		i.icon-white.icon-plus
	button.btn.btn-info(ng-click='openNewClient("lg")') הוסף לקוח
		i.icon-white.icon-plus
