div.signup-form(ng-class='submitted')
	form(name='signupForm', role='form', ng-submit='signup()', novalidate)
		.form-group
			label.control-label(for='inputName') שם
			input#inputName.form-control(name='name', type='text', ng-model='signupFormData.name',required)
			span.error(ng-show='submitted && signupForm.name.$error.required') Name is required
		.form-group
			label.control-label(for='inputUsername') שם משתמש
			input#inputUsername.form-control(name='username', type='text', ng-model='signupFormData.username', required)
			span.error(ng-show='submitted && signupForm.username.$error.required') Username is required
		.form-group
			label.control-label(for='inputPassword') סיסמא
			input#inputPassword.form-control(name='password', type='password', ng-model='signupFormData.password', required, equals='{{signupFormData.passwordConfirmation}}',ng-minlength='5')
			span.error(ng-show='submitted && signupForm.password.$error.required') Password is required
			span.error(ng-show='submitted && signupForm.password.$error.minlength') Password minimum length is 5
		.form-group
			label.control-label(for='inputPasswordConfirmation') אישור סיסמא
			input#inputPasswordConfirmation.form-control(name='passwordConfirmation', type='password', ng-model='signupFormData.passwordConfirmation', required, equals='{{signupFormData.password}}', ng-minlength='5')        
			span.error(ng-show='submitted && signupForm.passwordConfirmation.$error.equals') Passwords does not match
		.form-group
			button.btn.btn-default(type='submit',ng-click='submitted="true"') Register
